name: selenium build and test
on:
  push

jobs: 
  build:
    runs-on: windows-latest

    steps:
      - name: Set solution variable
        shell: pwsh
        run: echo "SOLUTION_PATH=src/TestSolution/TestSolution.slnx" >> $env:GITHUB_ENV
          
      - name: Checkout repo
        uses: actions/checkout@v4
        
      - name: Setup NuGet to be used with Actions
        uses: NuGet/setup-nuget@v2.0

      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v2
        
      - name: Restore the NuGet packages
        run: nuget restore $env:SOLUTION_PATH
      
      - name: Build the solution
        run: msbuild $env:SOLUTION_PATH /p:Configuration=Release

      - name: Find test DLLs
        if: false
        shell: pwsh
        run: |
          Get-ChildItem $env:SOLUTION_PATH -Recurse -File -Filter "*test*.dll" |
          Where-Object {
          $_.FullName -notmatch '\\obj\\' -and
          $_.Name -notlike '*TestAdapter.dll'
          } |
          ForEach-Object { $_.FullName }

      - name: Find test dlls
        shell: pwsh
        run: |
          $filename = [System.IO.Path]::GetFileNameWithoutExtension($env:SOLUTION_PATH)
          $directory = [System.IO.Path]::GetDirectoryName($env:SOLUTION_PATH)
          $dlls = Get-ChildItem -Path "$directory\*\bin\*" -Filter "*test*.dll" -Recurse -Force | 
                  Where-Object {
                    $_.FullName -notmatch '\\obj\\' -and
                    $_.Name -notlike '*TestAdapter.dll' -and
                    $_.Name -notlike 'Microsoft.TestPlatform*.dll' -and
                    $_.Name -notlike 'Microsoft.VisualStudio*.dll'
                  } |
                  ForEach-Object { $_.FullName }
          echo "TEST_DLLS=$dlls" >> $env:GITHUB_ENV

      - name: Locate vstest.console.exe
        shell: pwsh
        run: |
          #$path = & "${env:ProgramFiles(x86)}\Microsoft Visual Studio\Installer\vswhere.exe" `
          #  -latest -products * `
          #  -requires Microsoft.VisualStudio.PackageGroup.TestTools.Core `
          #  -find **\vstest.console.exe |
          #  Select-Object -First 1
          $path = & "${env:ProgramFiles(x86)}\Microsoft Visual Studio\Installer\vswhere.exe" `
            -latest -products * `
            -requires Microsoft.VisualStudio.PackageGroup.TestTools.Core `
            -find **\CommonExtensions\Microsoft\TestWindow\vstest.console.exe
            
          echo "VSTEST_PATH=$path" >> $env:GITHUB_ENV
          
      - name: Test        
        shell: pwsh
        run: |-      

          Write-Host "env:VSTEST_PATH: $env:VSTEST_PATH"          
          if (!$env:TEST_DLLS) {
            Write-Host "No test dlls found"
          }  
          else {
            Write-Host "$($env:TEST_DLLS.Count) test dlls found"
            
            foreach($dll in $env:TEST_DLLS) {
              Write-Host "Running tests for $dll"
              & "$env:VSTEST_PATH" $dll /Logger:trx
            }
          }
          
      - name: Test        
        shell: pwsh
        if: false
        run: |-

          # TODO:
          #$ENV:SOLUTION_PATHS = "src/TestSolution/TestSolution.sln" 
          #$env:VSTEST_PATH = "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\Common7\IDE\CommonExtensions\Microsoft\TestWindow\vstest.console.exe"
          
          dotnet tool install -g dotnet-reportgenerator-globaltool

          # If Directory doesn't exist, so create it
          if (-Not(Test-Path -Path "./CodeCoverage" -PathType Container)) {
            New-Item "./CodeCoverage" -ItemType Directory
          }

          $paths = $ENV:SOLUTION_PATHS -split ','
          Write-Host "All solutions: $paths"
          Write-Host "----------------------"
          Write-Host ""

          foreach ($path in $paths) {
            Write-Host "Testing solution: $path"
            
            $filename = [System.IO.Path]::GetFileNameWithoutExtension($path)
            $directory = [System.IO.Path]::GetDirectoryName($path)
            $settingsPath = Join-Path $directory "*.runsettings"
            $settings = Get-ChildItem -Path $directory -Filter "*.runsettings" | Select-Object -ExpandProperty "FullName"
            if ($settings) {
              foreach($settingsFile in $settings) {
                if ($settingsFile.Contains("local.rungsettings")) {
                  Write-Host "Skipping run settings: $settingsFile"
                  continue
                }
              }
            }
            
            $dlls = Get-ChildItem -Path "$directory\*\bin\*" -Filter "*test*.dll" -Recurse -Force | 
              Where-Object {
                $_.FullName -notmatch '\\obj\\' -and
                $_.Name -notlike '*TestAdapter.dll' -and
                $_.Name -notlike 'Microsoft.TestPlatform*.dll' -and
                $_.Name -notlike 'Microsoft.VisualStudio*.dll'
              } |
              ForEach-Object { $_.FullName }

            if (!$dlls) {
              Write-Host "No test dlls found"
            }  
            else {
              Write-Host "$dlls.Count test dlls found"

              $settingsArgument = ""
              if ($settingsFile) {
                Write-Host "Test settings: $settingsFile"
                $settingsArgument = "/Settings:$settingsFile"
              }

              foreach($dll in $dlls) {
                Write-Host "Running tests for $dll"

                & "$env:VSTEST_PATH" $dll /Logger:trx
                #. "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\Common7\IDE\CommonExtensions\Microsoft\TestWindow\vstest.console.exe" $dll `
                #        $settingsArgument `
                #        /Enablecodecoverage `
                #        /collect:"Code Coverage" `
                #        /ResultsDirectory:"./coverage"
              }
            }
          }
          
      - name: Upload test results
        uses: actions/upload-artifact@v4
        with:
          name: test-results
          path: '**/*.trx'
    
