name: selenium build and test
on:
  push

jobs: 
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        
      - name: Setup NuGet to be used with Actions
        uses: NuGet/setup-nuget@v2.0

      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v2
        
      - name: Restore the NuGet packages
        run: nuget restore src/TestSolution/TestSolution.slnx
      
      - name: Build the solution
        run: msbuild src/TestSolution/TestSolution.slnx /p:Configuration=Release
