name: selenium build and test
on:
  push

jobs: 
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        
      - name: Setup NuGet to be used with Actions
        uses: NuGet/setup-nuget@v2.0

      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v2
        
      - name: Restore the NuGet packages
        run: nuget restore src/TestSolution/TestSolution.slnx
      
      - name: Build the solution
        run: msbuild src/TestSolution/TestSolution.slnx /p:Configuration=Release

      - name: Find test DLLs
        shell: pwsh
        run: |
          Get-ChildItem src\TestSolution -Recurse -File -Filter "*test*.dll" |
          Where-Object {
          $_.FullName -notmatch '\\obj\\' -and
          $_.Name -notlike '*TestAdapter.dll'
          } |
          ForEach-Object { $_.FullName }

      - name: Test
        shell: pwsh
        run: |-

          $ENV:SOLUTION_PATHS = "src/TestSolution/TestSolution.sln" 
          dotnet tool install -g dotnet-reportgenerator-globaltool

          # If Directory doesn't exist, so create it
          if (-Not(Test-Path -Path "./CodeCoverage" -PathType Container)) {
            New-Item "./CodeCoverage" -ItemType Directory
          }

          $paths = $ENV:SOLUTION_PATHS -split ','
          Write-Host "All solutions: $paths"
          Write-Host "----------------------"
          Write-Host ""

          foreach ($path in $paths) {
            Write-Host "Testing solution: $path"
            
            $filename = [System.IO.Path]::GetFileNameWithoutExtension($path)
            $directory = [System.IO.Path]::GetDirectoryName($path)
            $settingsPath = Join-Path $directory "*.runsettings"
            $settings = Get-ChildItem -Path $directory -Filter "*.runsettings" | Select-Object -ExpandProperty "FullName"
            if ($settings) {
              foreach($settingsFile in $settings) {
                if ($settingsFile.Contains("local.rungsettings")) {
                  Write-Host "Skipping run settings: $settingsFile"
                  continue
                }
              }
            }
            
            $dlls = Get-ChildItem -Path "$directory\*\bin\*" -Filter "*test*.dll" -Recurse -Force | 
              Where-Object {
                $_.FullName -notmatch '\\obj\\' -and
                $_.Name -notlike '*TestAdapter.dll'
              } |
              ForEach-Object { $_.FullName }

            if (!$dlls) {
              Write-Host "No test dlls found"
            }  
            else {
              Write-Host "$dlls.Count test dlls found"

              $settingsArgument = ""
              if ($settingsFile) {
                Write-Host "Test settings: $settingsFile"
                $settingsArgument = "/Settings:$settingsFile"
              }

              foreach($dll in $dlls) {
                Write-Host "Running tests for $dll"
                #. "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\Common7\IDE\CommonExtensions\Microsoft\TestWindow\vstest.console.exe" $dll `
                #        $settingsArgument `
                #        /Enablecodecoverage `
                #        /collect:"Code Coverage" `
                #        /ResultsDirectory:"./coverage"
              }
            }
          }
          
      #- name: Run the tests
      #  uses: microsoft/vstest-action@v1.0.0
      #  with:
      #    testAssembly: '**\EdgeDriverTest1.dll'
      #    searchFolder: 'src/TestSolution/EdgeDriverTest1/bin/Release'

      #- name: Run tests
      #  run: dotnet test src\TestSolution\EdgeDriverTest1\EdgeDriverTest1.csproj --configuration Release

      #- name: Run the tests
      #  uses: microsoft/vstest-action@v1.0.0
      #  with:
      #    testAssembly: '**\EdgeDriverTest1.dll'
      #    searchFolder: src/TestSolution/EdgeDriverTest1/bin/Release
            
      #- name: Run the tests
      #  uses: microsoft/vstest-action@v1.0.0
      #  with:
      #    testAssembly: |
      #      **/*Test*.dll
      #      !**/*TestAdapter.dll
      #      !**/obj/**
      #    searchFolder: src/TestSolution

      #- name: Upload test results
      #  uses: actions/upload-artifact@v4
      #  with:
      #    name: test-results
      #    path: '**/*.trx'
    
